AZURE_TENANT_ID=<capstone-tenant-id>
AZURE_CLIENT_ID=<capstone-client-id>
AZURE_CLIENT_SECRET=<capstone-client-secret>
AML_EXPERIMENT_PREFIX=capstone
AML_ENDPOINT_PREFIX=capstone
AML_PIPELINE_PREFIX=capstone
